<div class="col" id="description">
  <p ng-class="{ 'other-step': step != 'load' }">1. 加载一张图片.</p>
  <p ng-class="{ 'other-step': step != 'select' }">2. 点击图片，选择调色盘颜色</p>
  <p ng-class="{ 'other-step': step != 'select' || palette.length < 2 }">3. 点击 PBNify 图片将被转化为数字和线条。</p>
  <p ng-class="{ 'other-step': step != 'result' }">4. 保存输出和调色盘,打印下来,然后涂色</p>
  <p ng-class="'other-step'"><em>隐私注意: 你的图片仅在浏览器中被加载，没有东西会被上传。</em></p>
</div>


<div class="col" ng-show="step == 'load'">
  <label for="widthSlider">调整宽度:</label>
  <span id="widthSliderLabel">800</span>px
  <input type="range" min="400" max="2000" step="10" value="800" id="widthSlider"
	 oninput="document.getElementById('widthSliderLabel').innerHTML = this.value;">
</div>

<div class="col" id="loader" ng-show="step == 'load'" ng-style="loaderStyle" image-loaded="imageLoaded(img)" load-file>
  <p>把图片拖动到这里来,<br>或者浏览图片.</p>
  <button type="button" class="btn btn-secondary">
    浏览
    <input type="file" id="fileBrowser">
  </button>
</div>


<div class="col" id="toolbar">
  <div id="buttons" ng-show="step != 'process'">
    
    <button type="button" class="btn btn-secondary" ng-click="newImage()"
	 ng-show="step == 'select' || step == 'result'">新图片</button>
    
    <button type="button" class="btn btn-secondary"
	 ng-click="clearPalette()"
	 ng-show="step == 'select' && palette.length > 0">清空调色盘</button>
    
    <button type="button" class="btn btn-primary" ng-click="pbnify()"
	 ng-show="step == 'select' && palette.length > 1">PBNify</button>
    
    <button type="button" class="btn btn-secondary" ng-click="recolor()"
	 ng-show="step == 'result'">重新选择颜色</button>
    
    <div class="btn-group" role="group" ng-show="step == 'result'">
      <button type="button" class="btn btn-primary"
	   ng-click="viewFilled()" ng-show="step == 'result'">已填充版</button>
      <button id="save-filled" type="button" class="btn btn-success"
	      ng-click="saveFilled()" target="_blank">保存</button>
    </div>
    
    <div class="btn-group" role="group" ng-show="step == 'result'">
      <button type="button" class="btn btn-primary" ng-click="viewOutline()"
	   ng-show="step == 'result'">线条版</button>
      <button id="save-outline" type="button" class="btn btn-success"
	      ng-click="saveOutline()" target="_blank">保存</button>
    </div>
    
    <button id="save-palette" type="button" class="btn btn-success"
       ng-click="savePalette()" ng-show="step == 'result'"
       target="_blank">保存调色盘</button>
    
  </div>
  
  <div ng-show="step == 'process'">
    <img id="spinner" src="images/spinner.png"> {{ status }}
  </div>
</div>


<div class="col" id="palette">
  <div class="swatch" ng-repeat="color in palette" ng-style="{ 'background-color': 'rgb(' + color.r + ',' + color.g + ',' + color.b + ')' }">
    
    <div class="swatch-label" ng-show="step == 'result' && (view == 'outline' || colorInfoVisible == true)">{{ $index + 1 }}</div>
    <img ng-click="removeColor(color)" ng-show="step == 'select'" src="images/delete.png">
  </div>
</div>


<div class="col" id="color-info" ng-show="step == 'result'">
  <button type="button" class="btn btn-secondary"
       ng-click="showColorInfo()" ng-show="colorInfoVisible == false">显示颜色信息</button>
  <button type="button" class="btn btn-secondary"
       ng-click="hideColorInfo()" ng-show="colorInfoVisible == true">隐藏颜色信息</button>
  <p ng-repeat="color in palette" ng-show="colorInfoVisible == true" >
    <strong>{{ $index + 1 }}</strong>: {{ color.hex }} |
    <strong>RGB</strong>({{ color.r }}, {{ color.g }}, {{ color.b }}) |
    <strong>HSL</strong>({{ color.hsl.h }}, {{ color.hsl.s }}%, {{ color.hsl.l }}%) |
    <strong>HSV/HSB</strong>({{ color.hsv.h }}, {{ color.hsv.s }}%, {{ color.hsv.v }}%) |
    <strong>CMYK</strong>({{ color.cmyk.c }}%, {{ color.cmyk.m }}%, {{ color.cmyk.y }}%, {{ color.cmyk.k }}%)
  </p>
</div>


<div class="col" id="canvases" ng-hide="step == 'load'">
  <div class="canvas-container" ng-show="step == 'select' || step == 'process'">
    <canvas id="img-canvas" stage></canvas>
    <div class="sample-point" ng-repeat="color in palette"
	 ng-style="{ left: (color.x - 5) + 'px', top: (color.y - 5) + 'px' }"></div>
  </div>
  
  <div class="canvas-container" ng-show="step == 'result' && view == 'filled'">
    <canvas id="filled-canvas" result></canvas>
  </div>
  
  <div class="canvas-container" ng-show="step == 'result' && view == 'outline'">
    <canvas id="outline-canvas" result></canvas>
  </div>
</div>

