#header {
	padding-top: 20px;
}

#title {
	float: left;
	/*font-size: 72px;*/
	height: 150px;
	/*vertical-align: bottom;*/
}

#subtitle {
	float: left;
	text-align: center;
	margin-left: 30px;
	margin-top: 10px;
	font-size: 24px;
	color: #777777;
}

#description {
	margin-bottom: 30px;
}

#description p {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.current-step {
	color: black;
}

.other-step {
	color: gray;
}

#loader {
	width: 500px;
	height: 300px;
	/*border: 4px dashed gray;*/
	border-radius: 10px;
	font-size: 20px;
	color: gray;
	text-align: center;
	padding-top: 100px;
}

#loader p {
	width: 250px;
	margin: auto;
	/*margin-left: 80px;*/
	/*margin-right: 80px;*/
}

#loader div {
	overflow: hidden;
	position: relative;
}

#fileBrowser {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	opacity: 0;
	-moz-opacity: 0;
	cursor: pointer;
}

#toolbar {
	height: 50px;
}

#spinner {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	-webkit-animation: spin 0.75s linear infinite;
    -moz-animation: spin 0.75s linear infinite;
    animation: spin 0.75s linear infinite;	
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#palette {
	min-height: 70px;
	padding: 0px;
}

.swatch {
	float: left;
	margin: 10px;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 10px;
}

.swatch img {
	display: none;
	float: right;
	margin: 1px;
	width: 20px;
	height: 20px;
}

.swatch:hover img {
	display: block;
}

.swatch img:hover {
	cursor: pointer;
}

.swatch-label {
	background-color: white;
	color: black;
	width: 20px;
	height: 20px;
	text-align: center;
	margin: 2px;
	border-radius: 2px;
}

.canvas-container {
	/*width: 800px;*/
	/*margin: auto;*/
	position: relative;
	padding: 0px;
	height: inherit;
	display: inline-block;
}

canvas {
	/*width: 100px;*/
	position: absolute;
}

.sample-point {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	border: 2px solid red;
	position: absolute;
	/*z-index: 1000;*/
}

#footer {
	padding-top: 50px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	color: #777777;
}
